@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-poppins;
  background: linear-gradient(140deg, #ff8c00 1%,#f5d2a8 20% , #fff 79%); 
}

p {
  color: #006ba0;
}

h1 {
  text-align: center;
  color: #034363;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}